<div class="modal-wrapper">
  <h2 mat-dialog-title>
    {{ coin.name }}({{ coin.symbol }})
    <img src="{{ coinDetails.image.thumb }}" alt="Logo of this crypto" />
  </h2>

  <h4>Current Price($)</h4>
  <mat-dialog-content class="mat-typography">
    <p>{{ coinPricing.prices.at(-1)[1] }}</p>
  </mat-dialog-content>

  <h4>Category</h4>
  <mat-dialog-content class="mat-typography">
    <p>{{ coinDetails.categories.join(", ") }}</p>
  </mat-dialog-content>

  <h3>Description</h3>
  <mat-dialog-content class="mat-typography">
    <p>{{ coinDetails.description.en }}</p>
  </mat-dialog-content>

  <div class="modal-buttons">
    <button mat-button (click)="setPeriod('hour')">Last Hour</button>
    <button mat-button (click)="setPeriod('day')">Last Day</button>
  </div>

  <app-chart [pricing]="this.pricing"> </app-chart>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
